<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JuX - Solar Flare Analysis Tool</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Solar Flare Analysis Tool</h1>
            <img src="isro.png" alt="ISRO Logo" class="logo isro-logo">
        </div>
        <div class="history-section" id="curr">
            <div id="form" class="upload-section">
                <h2>Upload Data</h2>
                <form id="uploadForm" enctype="multipart/form-data" method="POST" action="/api/upload">
                    <label for="fileInput">Choose a file:</label>
                    <input type="file" id="fileInput" name="datafile" required>
                    <button type="submit" id="upload" class="menu-item">Upload</button>
                </form>
            </div>
                <div id = "buttons">
                    <button id = "data" class = "menu-item active">Data</button>
                    <button id = "original" class = "menu-item">Original Graph</button>
                    <button id = "smoothened" class = "menu-item">Smoothened Graph</button>
                    <button id = "peaks" class = "menu-item">Peaks</button>
                </div>
                <div id = "jsonElem"></div>
                <img id = "currGraph">
            </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
